#menudiv ul 
{
	margin:0px;
	padding: 0px;
	float:right;
}

.horiz hr{

  border: 1px solid red;

}

#menudiv ul li 
{
	font-size: 20px;
	display:inline-block;
	padding:34.5px;
}

#menudiv ul li ul li
{
	display:block;

}
#menudiv ul li ul li:hover 
{
	background-color:#16A4FA;
	font-size: 20px;
}
#menudiv ul li ul 
{

	position: absolute;
	top:90px;
	background-color: #F0F0F0;
	left:0px;
	margin:0px;
	padding: 0px;
	
}
#servicesub
{
	display:none;
}

#menudiv ul li:hover > #servicesub 
{
	
	display:block;

}

	
#menudiv ul li:hover
{
	background:#16A4FA;
}

.logodiv
{
	padding-top:20px;
	padding-bottom:20px;
}

.new1 h1 
{
	font-size: 45px;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 30px;
}


.new2 h2
{
	font-size: 40px;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 30px;
}

.longp p
{
	color: grey;
	padding-left: 250px;
	padding-right: 250px;
	font-size: 23px;
	text-align: center;
	padding-bottom: 70px;

}
	
.longpq p
{
	color: grey;
	padding-left: 250px;
	padding-right: 250px;
	font-size: 20px;
	text-align: center;
	padding-bottom: 70px;

}	


.boxes
{

	margin: 50px 50px;
}
#b_box
{
	background-color:  #e6e6ff;
	text-align: center;	
	width: 100%;
	padding: 30px 30px;
}



#box
{
	text-align: center;
	float: left;
	padding: 70px 70px;
}
#box p
{
	font size: 10px;
	color: #949497;
}
#box h4
{
	color: #000;
}



/*  -----------------for 6 images css------------
-----------------------------------------------*/


#b_new_box
{
	
	width: 100%;
	padding: 30px 30px;
}


#box_new
{
	float: left;
}

#box_new img
{
/*	height: auto;
	width:  88%;
	margin: 0 auto 30px;
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
*/

	height: 100%;
	padding-right: auto;
	width: 100%;
}

input[type=text], select, textarea {
	background-color: #e6e6ff;
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
    border-color: black;
    background-color: white;

}
input[type=submit] {
  width: 100%;
  width: 120px;
  float: right;
  background-color: #e6e6ff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}


#b_box_input label
{
	background-color:  #e6e6ff;
	width: 100%;
	padding: 20px 20px;
	

}

#pad div
{
	padding-bottom: 20px;
}






